Source: ontologizer-cli
Section: science
Maintainer: Sebastian Bauer <mail@sebastianbauer.info>
Priority: extra
Version: [[version]]
Package: ontologizer-cli
Architecture: all
Depends: default-jre-headless (>= 1:1.6)
Recommends: graphviz
Description: Command-line version of Ontologizer
  Ontologizer is a tool for the statistical analysis and visualization of
  high-throughput biological data using Gene Ontology. This is the command
  line version.
Homepage: http://ontologizer.de
