<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="ontologizer.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="ontologizer.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Ontologizer Perspective"
            class="ontologizer.rcp.Perspective"
            id="ontologizer.rcp.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="ontologizer.application"
            name="Ontologizer">
         <property
               name="appName"
               value="Ontologizer">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ontologizer.rcp.editors.ItemEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="list"
            icon="icons/sample.gif"
            id="ontologizer.rcp.editors.itemEditor"
            name="ItemEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="ontologizer"
            name="Ontologizer">
      </category>
      <wizard
            category="ontologizer"
            class="ontologizer.rcp.wizards.NewOntologizerProjectWizard"
            hasPages="true"
            icon="icons/sample.gif"
            id="ontologizer.rcp.wizards.NewOntologizerProjectWizard"
            name="Ontologizer Project"
            project="true">
      </wizard>
   </extension>

</plugin>
